{{#get "tags" limit="all" include="count.posts"}}
  <div class="tag-cloud">
    {{#foreach tags}}
      {{#if count.posts}}
        <a href="{{url}}" class="tag-cloud-item" data-count="{{count.posts}}">
          {{name}}
          <span class="tag-count">({{count.posts}})</span>
        </a>
      {{/if}}
    {{/foreach}}
  </div>
{{/get}}
